body {
  box-sizing: border-box;
  margin: 2.5vh 2.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  justify-content: center;
}

.title {
  text-align: center;
  color: hsl(100, 70%, 25%);
  margin: 0.5em 0 0;
}

.entry-textbox {
  background-color: hsl(180, 65%, 87%);
  width: 30em;
  padding: 1em;
  height: 15em;
  margin: 15px auto;
  border-radius: 25px;
  border: unset;
  /* border: solid red 2px; */
}

.entry-textbox:focus {
  outline: none;
}

#entryForm .button {
  border-radius: 15px;
  padding: 1em;
  margin-left: 80%;
}

#entryForm .button:focus {
  outline: none;
}

#entryForm .button:active {
  background: hsl(180, 65%, 87%);
}

#entries {
  background: #16697a;
  color: #ede7e3;
  font-family: cursive;
  padding: 2em;
  border-radius: 5%;
  max-width: 20em;
  /* border: unset; */
  border-radius: 25px;
  margin-top: 1em;
}

.entries-nav {
   padding-bottom: 1em;
}

.display-entry-button {
   margin: .2em;
}

.display-entry-button:hover {
   cursor: pointer;
}